html {
    width: 100%;
    margin: 0;
}

body {
    width: 100%;
    margin: 5;
}

#content {
    max-width: 600px;
    min-width: 475px;
    margin: 0 auto;
}

#seed-area {
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    resize: vertical;
}

#results {
    min-width: 100%;
    max-width: 100%;
}

#predict-btn {
    min-width: 100px;
    min-height: 30px;
}

.section-container {
    margin-top: 20px;
    border-top: dashed black 2px;
    padding-top: 5px;
}

.section-title {
    font-size: 24pt;
}

.word-container {
    display: flex;
    min-width: 100%;
    flex-direction: row;
    border: 1px gray solid;
}

.word-cell {
    padding: 3px;
    flex: 1;
    border-left: solid 1px gray;
    word-break: normal;
    word-wrap: break-word;
}

.meaning {
    max-width: 75px;
    min-width: 75px;
}

.en {
    max-width: 150px;
    min-width: 150px;
}

.ru {
    max-width: 150px;
    min-width: 150px;
}

.score {
    max-width: 100px;
    min-width: 100px;
}
